<%- model_class = AttachmentComment -%>
<table class="table comment-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @attachment_comments.each do |attachment_comment| %>
      <tr>
        <td><%= User.find(attachment_comment.user_id).name %></td>
        <td><%=l attachment_comment.created_at %></td>
        <td class="comment-cell"><%= attachment_comment.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
