<div class="well well-sm">
<%= glyph(:plus) %>
<%user = User.find(n[:owner_id])%>
<%trip = Trip.find(n[:target_id])%>
<strong><%= user.name%></strong> joined the trip <strong><%= trip.name%></strong><strong><span style="float:right"><%= local_time(n[:created_at])%></span></strong>
 </div>