<div class="well well-sm">
<%= glyph(:globe) %>
Trip <strong><%= Trip.find(n[:target_id]).name%></strong> was created by <strong><%= User.find(n[:owner_id]).name%></strong><strong><span style="float:right"><%= local_time(n[:created_at])%></span></strong>
</div>