<% if @friends.size == 0 %>
	<h3> Sorry, you do not have any friends as yet </h3>
<% else %>
	<h3> Following are your friends </h3>
	<% @friends.each do |friend| %>
		<% friendName = User.find(friend.user2_id) %>
		<%= link_to friendName.name, user_path(friend) %><br>
		<% end %>
<% end %>
