<%- model_class = UserLocation -%>
<div class="page-header">
  <h1><%=t '.title', :default => params[:visited] == "1" ? "New place visited" : "New on dreamlist" %></h1>
</div>
<%= render :partial => 'form' %>
