<%- model_class = AlbumComment -%>
<table class="table comment-table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @album_comments.each do |album_comment| %>
      <tr>
        <td><%= User.find(album_comment.user_id).name %></td>
        <td><%=l album_comment.created_at %></td>
        <td class="comment-cell"><%= album_comment.description %></td>     
      </tr>
    <% end %>
  </tbody>
</table>

